{% extends "layout.html" %}
{% block body %}
<h1>Login</h1>
<hr>
<div style="margin:auto; width: 30%;">
    <form method="POST">
        <input name="username" class="form-control form-control-sm" type="text" placeholder="Name"><br>
        <input name="passw" class="form-control form-control-sm" type="password" placeholder="Password"><br>
        <button type="submit" class="btn btn-info" action="register.html" style="float:left;" method="post">Login</button><br><br>
        {% include "includes/messages.html" %}
        <!--<button type="button" class="btn btn-info float-right">Register</button>-->
    </form>
</div>
{% endblock body %}