{% extends "layout.html" %}
{% block body %}

<h3 style="color:#af7635;font-family: monospace;">User List</h3>
<hr style="background-color:#af7635;">
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col" style="color:steelblue;">#</th>
        <th scope="col" style="color:steelblue;">Username</th>
        <th scope="col" style="color:steelblue;">User Group</th>
        <th scope="col" style="color:steelblue;">Registration Date</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data  %}
    <tr>
        <th scope="row">{{i.id}}</th>
        {% if i.usergroup =='admin' %}
        <td style="color: red">{{i.name}}</td>
        {% else %}
        <td>{{i.name}}</td>
        {% endif %}
        {% if i.usergroup =='admin' %}
        <td style="color: red">{{i.usergroup}}</td>
        {% else %}
        <td>{{i.usergroup}}</td>
        {% endif %}
        <td>{{i.time}}</td>
    </tr> 
    {% endfor %}

{% endblock body %}