body{
  background-image: url("giphy.gif");
  height: 100%;

}
ul {
  margin: 0;
  padding: 0;
  background-color: black;
  font-weight: bold;
  position: relative;
  left: 46%;
  top: 0;
  max-width:100%;
}

li {

  display: block;
  float: left;
  background-color: #00ff00;
  color: black;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: #00ff00;
}

.matrix{
  background-color: black;
  width: 85%;
  height: 85%;
  position: absolute;
  left:7.5%;
  top: 7.5%;
  border-radius:  0 0 50px 50px;
  border: 2px green dotted;
  max-width:100%;
}
  p {
  color: #00ff00;
  font-family: "Consolas";
  text-shadow: 0 0 4px #00ff00;
  font-size: 18px;
  white-space: nowrap;
  animation: typingtwo 3s steps(60, end);
  overflow: hidden;
}
@keyframes typing {
  from{
    width: 0;
  }
}

p:nth-child(4) {
  animation: typingtwo 6s steps(60, end);
}
p:nth-child(5) {
  animation: typingtwo 9s steps(60, end);
}
p:nth-child(6) {
  animation: typingtwo 12s steps(60, end);
}
@keyframes typingtwo {
  0%{
    width: 0;
  }
    50% {
      width: 0;
    }
  100% {
    width: 100%;
  }
}
.cursor {
  animation: blink .9s infinite;
}
@keyframes blink {
  to{
    opacity: 0;
  }

}
