body{
  background-image: url("giphy.gif");
  height: 100%;

}
ul {
  border: 1px solid #555;
  width: 110px;
  margin: 0;
  padding: 0;
  background-color: black;
  font-weight: bold;
  position: absolute;
  left: 46%;
  top: 4.4%;

}

li {

  display: block;
  float: left;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

li a:hover {
  background-color: #00ff00;
  color: black;
}

.matrix{
  background-color: black;
  width: 1400px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius:  0 50px 0 50px;
  border: 2px green dotted;
}
  p {
  padding-left: 15px;
  color: #00ff00;
  font-family: "Consolas";
  text-shadow: 0 0 4px #00ff00;
  font-size: 18px;
  white-space: nowrap;
  width: 100%;
  animation: typing 4s steps(10, end);
  overflow: hidden;
}
@keyframes typing {
  from{
    width: 0;
  }
}
p:nth-child(1) {
  animation: typingtwo 1s steps(60, end);
}
p:nth-child(2) {
  animation: typingtwo 6s steps(60, end);
}
p:nth-child(3) {
  animation: typingtwo 12s steps(60, end);
}
p:nth-child(4) {
  animation: typingtwo 18s steps(60, end);
}
@keyframes typingtwo {
  0%{
    width: 0;
  }
    50% {
      width: 0;
    }
  100% {
    width: 100%;
  }
}
@keyframes typingthree {
  0%{
    width: 0;
  }
    50% {
      width: 0;
    }
  100% {
    width: 100%;
  }
}
@keyframes typingfour {
  0%{
    width: 0;
  }
    50% {
      width: 0;
    }
  100% {
    width: 100%;
  }
}
.cursor {
  animation: blink .9s infinite;
}
@keyframes blink {
  to{
    opacity: 0;
  }

}
